version: '5.0.2' 
services:

  db-1 :  
    image : rust_auth_build_with_health_check_curl_added
    # build : .
    environment :
      - ver=8080
    ports : 
      - 8080:8080

    healthcheck :
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/health/check"]
      interval : 10s
      timeout : 5s
      retries : 3
      start_period : 10s


  # db-2 : 
  #   # build : .
  #   image : rust_auth_build_with_health_check_curl_added
  #   environment :
  #     - ver=8081
  #   ports : 
  #     - 8081:8080

  db-3 : 
    build : .
    image : rust_auth_build_with_health_check_curl_added
    environment : 
      - ver=app_3
    ports : 
      - 8082:8080

    depends_on :   
      db-1:
        condition : service_healthy
    
    # env_file : "dev.env"
      

